In [2]:
import pandas as pd
d_list = [[1,2,3],[3,4,5],[4,5,6]]
df = pd.DataFrame(data=d_list,columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  3  4  5
2  4  5  6

In [8]:
d_dict = {'a':[1,2,3],'b':[3,4,5],'c':[4,5,6]}
dfx = pd.DataFrame(d_dict)
dfx

   a  b  c
0  1  3  4
1  2  4  5
2  3  5  6

In [4]:
df['d'] = df.apply(lambda x: 10 if (x['a']+x['b']>x['c']) else 5, axis=1)
df

   a  b  c   d
0  1  2  3   5
1  3  4  5  10
2  4  5  6  10

In [7]:
def triangle_rule(df):
    if df['a']+df['b']>df['c']:
        return 10
    else:
        return 5

df['e'] = df.apply(lambda x: triangle_rule(x), axis=1)
df

   a  b  c   d   e
0  1  2  3   5   5
1  3  4  5  10  10
2  4  5  6  10  10

In [10]:
dfx['e'] = dfx.apply(lambda x: triangle_rule(x),axis=1)
dfx

   a  b  c   e
0  1  3  4   5
1  2  4  5  10
2  3  5  6  10